.tab{
	margin-left: 40px;
	color: white;
}

body {
  background-color: #49297e;
 
}
.text-area{
    align:center;
}
.headers {
	color: #db0000;
    text-align:center;
    background-color: pink;
    display: block;
    height:auto;
    width: 50vw;
    border: 5px solid rgb(234, 0, 255);
}
h1{
    color:#e10086;
    align:center;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(20, 3, 250);
}
p{
	color:#ff6701;
    text-align: left;
	margin-right: 15px;
    margin-left: 25px;
	font-family: "Comic Sans MS";
    font-size: medium;
}
ul{
	color: #e10086;
}
a{
	color: #ff6701;
}
.check{
	  list-style-type: "✅";
}